.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    background: white;
    max-width: 70%;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
}
.th {
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
}
.td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
}
.tr:hover td {
    background: #e8edff;
}
.h3 {
    color: #444;
}

.button {
    padding: 6px 20px;
    height: 30px;
    border-top: 1px solid #98CCE7;
    border-bottom: 1px solid #7DB0CC;
    border-left: 1px solid #8CBFD9;
    border-right: 1px solid #8CBFD9;
    border-radius: 15px;
    color: #FFF;
    font: bold 13px Arial, Tahoma, sans-serif;
    box-shadow: inset 0 1px #D4EBF7, 0 1px 3px #B8BEBE;
    background-color: #9FD7F0;
    cursor: pointer;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.15);
    outline: none;
}