<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <title>Coffee manage project</title>
    <link rel="stylesheet" th:href="@{css/navbar.css}"/>
</head>
<body>

<header th:fragment="header">

    <nav>

        <ul class="topmenu">
            <li class="item">
                <a class="item-point" th:href="@{/api}">
                    Главная
                </a>
            </li>

            <li class="item" sec:authorize="!isAuthenticated()">
                <a class="item-point" th:href="@{/registration}">
                    Регистрация
                </a>
            </li>

            <li class="item" sec:authorize="!isAuthenticated()">
                <a class="item-point" th:href="@{/login}">
                    Авторизация
                </a>
            </li>

            <li class="item-right" sec:authorize="isAuthenticated()">
                <a class="item-point" th:href="@{/logout}">
                    Выйти
                </a>
            </li>

            <li class="item-right" sec:authorize="isAuthenticated()">
                <a class="item-point" href="" th:text="${#authentication.getPrincipal().getUsername()}">
                    Hi
                </a>
                <ul class="submenu-right">
                    <li>
                        <a class="item-point" th:href="@{/logout}">
                            Профиль
                        </a>
                    </li>
                    <li>
                        <a class="item-point" th:href="@{/logout}">
                            Сменить пароль
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</header>

</body>
</html>