<div th:fragment="header" style="display: inline-flex;">
    <div>
        <a th:href="@{/api}">Главная</a>
    </div>
    <div>
        <span style="margin: auto 20px auto 20px;"></span>
    </div>
    <div>
        <form method="post" th:action="@{/login}">
            <div sec:authorize="!isAuthenticated()">
                <button class="btn logout" type="submit">Авторизоваться</button>
            </div>
        </form>
    </div>

    <div>
        <form th:method="GET" th:action="@{/registration}">
            <div sec:authorize="!isAuthenticated()">
                <button type="submit" class="buttonClass">Зарегистрироваться</button>
            </div>
        </form>
    </div>

    <div sec:authorize="isAuthenticated()" style="display: inline-flex;">
        <span th:text="${#authentication.getPrincipal().getUsername()}" style="margin: auto 20px auto 20px;"></span>
        <form method="post" th:action="@{/logout}">
            <div>
                <button class="btn logout" type="submit">Выйти</button>
            </div>
        </form>
    </div>

</div>