<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee manage project</title>
<!--    <link rel="stylesheet" th:href="@{css/add-form-style.css}" type="text/css"/>-->
</head>
<body>
<div>
    <div>
        <span>Вход в систему</span>

        <form method="post">
            <p>
                <label for="username">Введите имя пользователя:</label>
                <input name="username" id="username" placeholder="имя пользователя">
            </p>
            <p>
                <label for="password">Введите пароль:</label>
                <input type="password" name="password" id="password" placeholder="пароль">
            </p>

            <p>
                <button type="submit" class="buttonClass">ВОЙТИ</button>
            </p>

        </form>

    </div>
</div>
</body>
</html>


